# Logs
logs
*.log

# Dependency directories
**/node_modules/

# Build output
**/dist/
**/build/

# Environment files
**/.env

# OS-specific files
.DS_Store
Thumbs.db

# Uploads
**/uploads/

# IDE and editor folders
.vscode/
.idea/

# TypeScript cache
**/*.tsbuildinfo